numpy
pandas
xarray
rasterio
shapely
requests
statsmodels
scikit-learn
scipy
joblib
matplotlib
prophet 
cdsapi
rioxarray
geopandas
hdbscan
tensorflow
shap
streamlit
geemap
earthengine-api
cartopy
rich  